extends layout

block content

    h1= title + reservation.name

    div(style='margin-left:20px;margin-top:20px')
        h4 Забронировано с #{reservation.start_time_formatted} по #{reservation.end_time_formatted}

        h4
            a(href=reservation_table.url) Стол № #{reservation_table.position}
            p
                a(href=table_waiter.url) Официант: #{table_waiter.name}

        h4 Посетитель:
            a(href=reservation_visitor.url) #{reservation_visitor.name}
            p Номер телефона: #{reservation_visitor.number}

    hr
    p
        a(href=waiter.url + '/delete') Удалить бронь
    p
        a(href=waiter.url + '/update') Изменить бронь