extends layout

block content
    h1= title + visitor.name

    if visitor.email
        p Почта: #{visitor.email}

    div(style='margin-left:20px;margin-top:20px')
        h4 Резервы:

        each val in reservations
            hr
            if val.start_time < Date.now()
                p.text-danger
                a(href=val.url) Прошедший резерв на #{val.start_time_formatted}
            else
                p.text-success
                a(href=val.url) Текущий резерв на #{val.start_time_formatted}

        else
            p Нет резервов

    hr
    p
        a(href=visitor.url + '/delete') Удалить посетителя
    p
        a(href=visitor.url + '/update') Изменить посетителя