extends layout

block content
    h1= title + waiter.name

    p Стаж: #{waiter.employment}

    div(style='margin-left:20px;margin-top:20px')
        h4 Столики

        each val in tables
            hr
            p № #{val.position}
            p #[strong Id: ]
                a(href=val.url) #{val._id}

        else
            p Нет столиков в распоряжении.

    hr
    p
        a(href=waiter.url + '/delete') Удалить официанта
    p
        a(href=waiter.url + '/update') Изменить официанта